/*Table of Contents
1. Navigation Content
  a. Explore Jumpstart
  b. Start a project
  c. About Jumpstar
2. Jumpstart your Startup
3. Featured Project
4. Projects
5. Jumpstart's Good Idea Generator*/

/*universal styling*/
body {
  background-color: white;
  box-sizing: border-box;
  font: 0.875rem 'Open Sans', sans-serif;
  overflow-x: hidden;
}

/*header Navigation Content*/
nav a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-default .navbar-nav > .active > a {
  background-color: inherit;
  color: #399bd1;
}
/*end*/


/*jumbotron Jumpstart Your Startup*/
.jumbotron,
.jumbotron-bike {
  padding-bottom: 0;
}
.jumbotron .container {
  height: 44rem;
  padding: 0;
  width: 100%;
}
.jumbotron .row {
  background-image: url("../../Resources/Images/jumbotron-bike.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  height: 44rem;
  line-height: 1.2;
  margin-left: 0;
  padding: 8rem 0 2rem;
  width: 100%;
}
.jumbotron h1 {
  font: 7.1rem 'Monoton';
  margin-bottom: 0;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.jumbotron p {
  color: white;
  font-size: 1.5rem;
  max-width: 51.3rem;
  margin: auto;
  text-shadow: 2px 2px 4px #000000;
}
.jumbotron .relative-wrapper {
  padding-top: 2rem;
}
a.btn.btn-primary.btn-lg.cta {
  font-size: 1.5rem;
  padding: 1.1rem 0;
  width: 11.4rem;
}
/*end*/

/*Featured Project section*/
.container,
.featured-project {
  padding-bottom: 1.5rem;
  width: 85rem;
}
h2 {
  color: #399bd1;
  font-size: 1.9rem;
  font-weight: bold;
  margin-top: 0;
}
.image-container {
  margin-right: 0.9375rem;
}
.image-container img {
  height: 20.375rem ;
  opacity: 0.7;
  margin-right: 0;
  width: 100%;
}
.featured-project,
.col-xs-6,
.col-md-3 {
  padding-top: 0.8rem;
}
.featured-project,
.col-xs-12,
.col-md-6 {
  padding-right: 0;
}
h3 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  font-weight: bold;
}
h3:first-child {
  color: #399bd1;
}
p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
}
.featured-project,
.col-xs-6,
.col-md-3 li {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
}
/*end*/

/*projects section*/
.container,
.projects {
  width: 85rem;
  margin: 0 auto;
}
.image-container-1,
.image-container-2,
.image-container-3 {
  padding-top: 2.9rem;
}
.image-container-1 {
  padding-top: 0;
}
.image-container-1,
.image-container-2,
.image-container-3 img {
  opacity: 0.7;
}
/*end*/

/*good idea generator section*/
.container-fluid .idea-generator,
.text-center {
  background-color: #f3f3f3;
  padding: 5.2rem 0;

}

h2 strong {
  color: rgba(0, 0, 0, 0.7);
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1.4rem;
}
.container .idea-generator,
.text-center p {
  max-width: 42rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}
    @media only screen and (max-width: 768px) {
      .navbar-default .navbar-nav > li >a {
        padding: 0.5rem 1.5rem;
      }
      .jumbotron .row {
        height: 40rem;
      }
      .jumbotron .container {
        height: 40rem;
      }
      .jumbotron h1 {
        font-size: 5.7rem;
        margin-top: 0;
      }
      .container {
        margin: 0;
        width: 42.5rem;
      }
      .jumbotron .relative-wrapper {
        padding-top: 4rem;
      }
      .container,
      .featured-project {
        padding: 0 0.75rem;
      }
      .featured-project,
      .col-xs-12,
      .col-md-6 {

      }
      .image-container {
        height: auto;
        margin: 0 auto;
        width: 98%;
      }
      .image-container-1,
      .image-container-2,
      .image-container-3 {
        height: 15.5rem;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
      }
      .featured-project h2 {
        padding-bottom: 0.5rem;
      }
      div.col-xs-6.col-md-3 {
        margin: 0;
      }
      div.col-xs-12.col-md-4 {

      }
      .image-container,
      .image-container-1,
      .image-container-2,
      .image-container-3 img {

        width: 100%;

      }
      .container-fluid .idea-generator,
      .text-center {
        width: 100%;

      }
      h2 strong {
        font-size: 2.3rem;
        padding: 0 1.5rem;
        white-space: nowrap;
      }
    }
